@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-background {
    @apply bg-zinc-50 dark:bg-zinc-900;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  /* combine ping and spin animation */
  @keyframes loading {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    45% {
      transform: rotate(190deg);
      opacity: 0.3;
    }
    90% {
      transform: rotate(290deg);
      opacity: 0.94;
    }
    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  .animate-loading {
    animation: loading 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
}

html,
body {
  @apply h-full overflow-scroll;
}

* {
  @apply no-scrollbar;
}
